cli_cache/*
**/cli_cache/*
*.tar

tools/simple-certificates/certificates/*
.DS_Store

logs/*
**/logs/*

# Editor files
*.sw[po]
vm/.vagrant

# JMeter results
tools/performance-tests/jmeter/jmeter_reports/*
tools/performance-tests/jmeter/jmeter.log

**/backup/*

files/haproxy/master/haproxy.cfg

# Certificates
**/certificates/*
