- !policy
  id: AutomationVault-hosts
  body:
    {%- for lob in lobs %}
    {%- set parent_index = loop.index0 %}
    - !policy
      id: {{uuid}}-{{lob}}
      owner: !group /AutomationVault/{{uuid}}-{{lob}}-admins
      body:
        {%- for safe in safes %}
        - !policy
          id: {{safe}}
          owner: !group /AutomationVault/{{uuid}}-{{lob}}/{{safe}}-admins
          {%- if (parent_index * safes|length + loop.index <= leftover_hosts|length) or hosts[0] %}
          body:
          - !layer hosts
          - &{{uuid}}-{{lob}}-{{safe}}-hosts
            {%- for host in hosts %}
            - !host {{host}}
            {%- endfor %}
            {%- if parent_index * safes|length + loop.index <= leftover_hosts|length %}
            - !host {{leftover_hosts[0]}}
            {%- endif %}
          - !grant
            role: !layer hosts
            members: *{{uuid}}-{{lob}}-{{safe}}-hosts
          {%- endif %}
        {%- endfor %}
    {%- endfor %}


{%- for lob in lobs %}
{%- set parent_index = loop.index0 %}
  {%- for safe in safes %}
  {%- if (parent_index * safes|length + loop.index <= leftover_hosts|length) or hosts[0] %}
- !grant
  role: !group AutomationVault/{{uuid}}-{{lob}}/{{safe}}/delegation/consumers
  members: !layer AutomationVault-hosts/{{uuid}}-{{lob}}/{{safe}}/hosts
  {%- endif %}
  {%- endfor %}
{%- endfor %}
