- !policy
  id: AutomationVault-users
  body:
    {%- for lob in lobs %}
    {%- set parent_index = loop.index0 %}
    - !policy
      id: {{uuid}}-{{lob}}
      owner: !group /AutomationVault/{{uuid}}-{{lob}}-admins
      body:
        {%- for safe in safes %}
        - !policy
          id: {{safe}}
          owner: !group /AutomationVault/{{uuid}}-{{lob}}/{{safe}}-admins
          {%- if (parent_index * safes|length + loop.index <= leftover_users|length) or users[0] %}
          body:
          - !group users
          - &{{uuid}}-{{lob}}-{{safe}}-users
            {%- for user in users %}
            - !user {{user}}
            {%- endfor %}
            {%- if parent_index * safes|length + loop.index <= leftover_users|length %}
            - !user {{leftover_users[0]}}
            {%- endif %}
          - !grant
            role: !group users
            members: *{{uuid}}-{{lob}}-{{safe}}-users
          {%- endif %}
        {%- endfor %}
    {%- endfor %}


{%- for lob in lobs %}
{%- set parent_index = loop.index0 %}
  {%- for safe in safes %}
  {%- if (parent_index * safes|length + loop.index <= leftover_users|length) or users[0] %}
- !grant
  role: !group AutomationVault/{{uuid}}-{{lob}}/{{safe}}/delegation/consumers
  members: !group AutomationVault-users/{{uuid}}-{{lob}}/{{safe}}/users
  {%- endif %}
  {%- endfor %}
{%- endfor %}
