global
    maxconn 100

defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s

listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /

frontend conjur
  bind *:443
  # bind *:5432
  # bind *:1999
  default_backend nodes

backend nodes
  option httpchk GET /health
  option forwardfor
  http-request set-header X-Forwarded-Port %[dst_port]
  http-request add-header X-Forwarded-Proto https if { ssl_fc }
  server conjur-master-1 conjur-master-1.mycompany.local:443 check ssl verify none
  server conjur-master-2 conjur-master-2.mycompany.local:443 check ssl verify none

# listen postgres
#    bind *:5432
#    option pgsql-check user healcheckuser
    # option httpchk
    # http-check expect status 200
    # default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
#    server conjur-master-1 conjur-master-1.mycompany.local:5432 check
#    server conjur-master-2 conjur-master-2.mycompany.local:5432 check
    # server conjur-master-3 conjur-master-3.mycompany.local:5432
    # server conjur-master-4 conjur-master-4.mycompany.local:5432
