[ req ]
default_bits = 2048
prompt = no
default_md = sha256
req_extensions = req_ext
distinguished_name = dn

[ dn ]
C=US
ST=Texas
L=Houston
O=CADemos
OU=CADemos Labs
emailAddress=noreply@conjurlab.local
CN=conjurmaster.conjurlab.local

[ req_ext ]
subjectAltName=@alt_names

[ alt_names ]
DNS.1=conjurmaster.conjurlab.local
DNS.2=cmaster1.conjurlab.local
DNS.3=cmaster2.conjurlab.local
DNS.4=cmaster3.conjurlab.local
